<!DOCTYPE html>
<html>
  <head>
    <title>Pull records</title>
   <script src="index.js"></script>
  </head>
  <body>
    <header>
      <h1>Pull records</h1>
      <p>This webpage is used to pull records for SVL logins</p>
    </header>
    <main>
      <h2>Steps</h2>
      <ol>
        <li>Choose date down below</li>
        <li>Browser will start downloading CSV containing data</li>
      </ol>
      <form>
        <fieldset>
          <label>
            Start Date:
            <input type="date" name="startDate" required>
          </label>
        </fieldset>
        <fieldset>
          <label>
            End Date:
            <input type="date" name="endDate" required>
          </label>
        </fieldset>
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>