.banner {
    width: 100%;
    padding-left: 10%;
    overflow: auto;
}

.success-banner {
    background-color: #00cc66;
}

.error-banner {
    background-color: #ff6666;   
}

.info-banner {
    background-color: cadetblue;
}