nav {
  display: flex;
  flex-direction: row;
  background-color: #4b2e83;
  padding-left: 10%;
}

nav > a {
  display: block;
  color: white;
  padding-right: 1em;
  padding-top: 1em;
  font-size: 1.5rem;
}

h1 {
  font-family: 'Encode Sans', sans-serif;
  color: #ffffff;
  padding-left: 10%;
}

header {
  background-color: #4b2e83;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: auto;
}

main {
  color:#3D3D3D;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
}

summary, h2 {
  color: #4b2e83;
  font-family: 'Encode Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

form > * {
  margin-bottom: 1em;
  font-size: 100%;
  box-sizing: border-box;
}

select, button {
  height: 2em;
}